.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.details_wrapper {
  width: 100%;
  margin: 0 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border: 2px solid var(--white);
  padding: 2rem;
  animation: slideRight 0.8s forwards;
  overflow: auto;
}

.title {
  color: var(--white);
  font-size: 1.5rem;
}

.characteristics_wrapper {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.measurements {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.measurements li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 2rem;
  gap: 1rem;
}

.types_container span {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.types_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.type_icon {
  width: 2rem;
  height: 30px;
  margin-bottom: 1rem;
  border-radius: 50%;
  border: 2px solid var(--white);
  cursor: pointer;
}

.popover_content {
  width: 5.5rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--white);
  border: 2px solid var(--white);
}

.abilities {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
}

.abilities span {
  font-size: 1.2rem;
  font-weight: 400;
}

.abilities li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.stats_bars_container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.stats_bar_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.type_color {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #68ae28;
  border: 2px solid var(--white);
}

.type_color2 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #b97fc9;
  border: 2px solid var(--white);
}

@keyframes slideRight {
  0% {
    transform: translateX(1000px);
    height: 0;
  }
  100% {
    transform: translateX(0);
    height: 80vh;
  }
}

@media screen and (min-width: 1366px) {
  img {
    height: 250px;
  }
}
