.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.typewriter {
  font-size: 5rem;
  color: var(--white);
}

.pokemon_sprite {
  height: 200px;
  margin: 1.5rem 0;
  transform: translateX(-30px);
  opacity: 0;
  animation: slideLeft 0.5s forwards 0.5s;
}

.loading_title {
  color: var(--white);
  font-size: 5rem;
}

.loading_icon_wrapper {
  height: 200px;
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading_icon {
  font-size: 200px;
  color: var(--white);
}

.search_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.back_btn,
.next_btn {
  padding: 1rem;
  background-color: transparent;
  outline-color: transparent;
  border: 2px solid var(--white);
  width: 120px;
  cursor: pointer;
  color: var(--white);
}

.back_btn {
  border-radius: 1rem 0 0 1rem;
}

.next_btn {
  border-radius: 0 1rem 1rem 0;
}

.search_input {
  padding: 1rem;
  font-size: 1.5rem;
  outline-color: transparent;
  background-color: transparent;
  border: 2px solid var(--white);
  margin: 2rem 0;
  color: var(--white);
}

.search_btn {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  outline-color: transparent;
  background-color: transparent;
  border: 2px solid var(--white);
  color: var(--white);
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
}

.search_btn:hover {
  color: var(--black);
}

.search_btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  left: 0;
  background-color: var(--white);
  transition: all 0.2s ease;
  z-index: -1;
}

.search_btn:hover::before {
  width: 100%;
}

.search_btn:hover .search_btn_arrow {
  animation: arrowRight 0.2s infinite alternate
    cubic-bezier(0.785, 0.135, 0.15, 0.85);
}

.back_btn:hover .arrowLeft {
  animation: arrowLeft 0.2s infinite alternate
    cubic-bezier(0.785, 0.135, 0.15, 0.85);
}

.next_btn:hover .arrowRight {
  animation: arrowRight 0.2s infinite alternate
    cubic-bezier(0.785, 0.135, 0.15, 0.85);
}

@keyframes arrowLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}

@keyframes arrowRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(10px);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .typewriter {
    font-size: 3.5rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  .search_btn {
    transition: none;
  }

  .search_btn::before,
  .search_btn:hover::before {
    display: none;
  }

  .search_btn:hover {
    color: var(--white);
  }

  .search_btn:active {
    color: #111;
    background-color: var(--white);
  }

  .search_btn:hover .search_btn_arrow .back_btn:hover .arrowLeft,
  .next_btn:hover .arrowRight {
    animation: none;
  }

  .back_btn:active .arrowLeft {
    animation: arrowLeft 0.2s alternate cubic-bezier(0.785, 0.135, 0.15, 0.85);
  }

  .next_btn:active .arrowRight {
    animation: arrowRight 0.2s alternate cubic-bezier(0.785, 0.135, 0.15, 0.85);
  }
}

@media screen and (min-width: 1366px) {
  img {
    margin: 3rem 0;
  }

  .loading_img_wrapper {
    margin: 3rem 0;
  }
}
