:root {
  --white: #ffff;
  --black: #111;
  --green: rgb(23, 255, 178);
  --grey: rgb(67, 68, 70);
}

* {
  padding: 0;
  margin: 0;
  font-family: monospace, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
}

a {
  color: #111;
  text-decoration: none;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 0;
}

html {
  -webkit-tap-highlight-color: transparent;
}